  <section class="currency-converter border">
    <form [formGroup]="newForm" (ngSubmit)="convertCurrencies()">
      <div class="row">
        <div class="colum _25">
            <label for="currencyAmount">Amount</label>
            <input
                type="number"
                class="form-input"
                name="currencyAmount"
                id="currencyAmount"
                value="1"
                formControlName="amount"
                placeholder="Enter Currnecy amount "
                min="1">

        </div>
          <div class="column _75">
            <div class="converter-panel">
                <div class="exchangeFrom ">
                    <label for="exchangeFrom">From</label>
                    <select
                    formControlName="from"
                    id="exchangeFrom"
                    #fromCurrencyInput
                    class="form-input">
                        <option
                            *ngFor="let currency of currencies"
                            [selected]="currency.cc == 'EUR'"
                            [value]="currency.cc"
                            >{{currency.cc}}</option>
                    </select>
                </div>
                <div class="exchange-icon" (click)="swapper()">
                    <fa-icon [icon]="exchanger"></fa-icon>
                </div>
                <div class="exchangeTo ">
                    <label for="exchangeTo">To</label>
                    <select
                    formControlName="to"
                    id="exchangeTo"
                    class="form-input">
                        <option
                            *ngFor="let currency of currencies"
                            [selected]="currency.cc == 'USD'"
                            [value]="currency.cc" >{{currency.cc}}</option>
                    </select>
                </div>
                <button
                (click)="convertCurrencies()"
                class="button button--state-primary">
                    Convert
                </button>
            </div>
          </div>
      </div>
  <!-- <app-spinner></app-spinner> -->

    </form>

    <!-- Current Rate  -->
    <!-- 1 EUR equals to 1 USD  -->
    <div class="row result">
      <div class="column _25 text-center">
        <div class="result__text border">
          1 {{this.newForm.controls['from'].value}} = {{this.toCurrencyRate | number:'1.2-2'}}  {{this.newForm.controls['to'].value}}
        </div>
      </div>
    <!-- Showing Result -->

      <div class="column _50 text-center">
        <div class="currency-price border">
          {{this.result | number:'1.2-2'}} {{this.newForm.controls['to'].value}}

        </div>
      </div>
      <div class="column _25">
        <button
        routerLink="/details/currency/47"
        class="button button--state-primary"
        (click)="navigateTo()">
          More Details
        </button>
      </div>
    </div>
    </section>

