<section class="currency-details">
  <div class="row">
    <div class="column _50">
      <h2>
        {{fromCurrency}}
      </h2>
    </div>
    <div class="column _25">
      <button
      class="button button--state-primary"
      routerLink="/"
      >
        Back to home
      </button>
    </div>
  </div>
  <app-currency-convert-panel
   [fromCurrency]="fromCurrency"
   [toCurrency]="toCurrency"></app-currency-convert-panel>
  <div class="row">
    <h2>Historical Charts</h2>
    <div class="currencies-cards row">
      <div class="column _33" *ngFor="let currency of historicalRate">
        <div class="card">
          <p>
            <strong>{{currency.currency}}</strong> : {{currency.rate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
