
/*-------------*\
  Helper Calsses
\*-------------*/


/*
  Text Alignment
*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}


/*
  Flexbox
*/

.d-flex {display: flex;}
.align-items-center{align-items: center;}
.justify-content-center{justify-content: center;}
.justify-space-between{justify-content: space-between;}
.justify-space-arround{justify-content: space-around;}
